<div id="content" class="site-content">
    <div class="page-header dtable text-center header-transparent" style="background-image: url(./images/img/extilat.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Blog</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="entry-content">
    <div class="container">
        <div class="row">
            <div class="content-area col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <article class="post-box">
                    <div class="post-inner">
                        <div class="entry-media post-cat-abs">
                            <a asp-action="Index" asp-controller="Post"><img src="~/images/img/pastelcolor.jpg" alt=""></a>
                            
                        </div>
                        <div class="inner-post">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="posted-on">_ <a href="#"> November 21, 2020</a></span>
                                    <span class="byline">_ <a class="url fn n" href="#"> jina wood</a></span>
                                    <span class="comment-num">_ <a href="#"> 2 Comments</a></span>
                                </div>
                                <h4 class="entry-title"><a class="title-link" asp-action="Index" asp-controller="Post">Use Pastel Colors & Natural Materials</a></h4>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>A faceting effect livens up and interrupts the cubism that sets the morphology of the West system apart from the cliches of modern design. Characterised by its suitability for use in a wide range of different...</p>
                            
                    </div>
                </article>
                <article class="post-box">
                    <div class="post-inner">
                        <div class="entry-media">
                            
                        </div>
                        <div class="inner-post">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="posted-on">_ <a href="#">November 22, 2020</a></span>
                                    <span class="byline">_ <a class="url fn n" href="#">Jina Wood</a></span>
                                    <span class="comment-num">_ <a href="#">2 Comments</a></span>
                                </div>
                                <h4 class="entry-title"><a class="title-link" asp-action="Index" asp-controller="Post">Incredible Urban Architecture & Landscapes</a></h4>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>A faceting effect livens up and interrupts the cubism that sets the morphology of the West system apart from the cliches of modern design. Characterised by its suitability for use in a wide range of different...</p>
                            
                    </div>
                </article>
                <article class="post-box">
                    <div class="post-inner">
                        <div class="entry-media post-cat-abs">
                            <div class="gallery-post img-slider owl-carousel owl-theme">
                                <div class="item-image">
                                    <img src="~/images/img/bathroom3.jpg" alt="">
                                </div>
                                <div class="item-image">
                                    <img src="~/images/img/bathroom2.jpg" alt="">
                                </div>
                                <div class="item-image">
                                    <img src="~/images/img/bathroom1.jpg" alt="">
                                </div>
                            </div>
                            
                        </div>
                        <div class="inner-post">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="posted-on">_ <a href="#">November 22, 2020</a></span>
                                    <span class="byline">_ <a class="url fn n" href="#">Jina Wood</a></span>
                                    <span class="comment-num">_ <a href="#">2 Comments</a></span>
                                </div>
                                <h4 class="entry-title"><a class="title-link" asp-action="Index" asp-controller="Post">Top 10 Ideas for Your Bathroom Interior</a></h4>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>A faceting effect livens up and interrupts the cubism that sets the morphology of the West system apart from the cliches of modern design. Characterised by its suitability for use in a wide range of different...</p>
                            
                    </div>
                </article>
                <article class="post-box">
                    <div class="post-inner">
                        <div class="entry-media">
                            
                        </div>
                        <div class="quote-box padding-box font-second">
                            <div class="quote-text">
                                I cannot give you the formula for success, but I can give you the formula for failure. It is: Try to please everybody.
                                <span>- Herbert Bayard Swope</span>
                            </div>
                        </div>
                        <div class="inner-post">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="posted-on">_ <a href="#">November 22, 2020</a></span>
                                    <span class="byline">_ <a class="url fn n" href="#">Jina Wood</a></span>
                                    <span class="comment-num">_ <a href="#">2 Comments</a></span>
                                </div>
                                <h4 class="entry-title"><a class="title-link" asp-action="Index" asp-controller="Post">The Most Spectacular House in New York</a></h4>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>A faceting effect livens up and interrupts the cubism that sets the morphology of the West system apart from the cliches of modern design. Characterised by its suitability for use in a wide range of different...</p>
                            
                    </div>
                </article>
                <article class="post-box">
                    <div class="post-inner">
                        <div class="entry-media post-cat-abs">
                            <div class="video-popup">
                                <a class="btn-play" href="https://vimeo.com/87959439"><i class="ot-flaticon-play-button"></i></a>
                            </div>
                            <img src="https://via.placeholder.com/790x510.png" alt="">
                            
                        </div>
                        <div class="inner-post">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="posted-on">_ <a href="#">November 22, 2020</a></span>
                                    <span class="byline">_ <a class="url fn n" href="#">Jina Wood</a></span>
                                    <span class="comment-num">_ <a href="#">2 Comments</a></span>
                                </div>
                                <h4 class="entry-title"><a class="title-link" asp-action="Index" asp-controller="Post">Top 10 Most Popular Bedroom Designs</a></h4>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>A faceting effect livens up and interrupts the cubism that sets the morphology of the West system apart from the cliches of modern design. Characterised by its suitability for use in a wide range of different...</p>
                            
                    </div>
                </article>
                <article class="post-box">
                    <div class="post-inner">
                        <div class="entry-media">
                            
                        </div>
                        <div class="link-box padding-box">
                            <i class="ot-flaticon-link"></i>
                            <a href="#">The iOS Update with Truly Cutting Edge Features</a>
                        </div>
                        <div class="inner-post">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="posted-on">_ <a href="#">November 22, 2020</a></span>
                                    <span class="byline">_ <a class="url fn n" href="#">Jina Wood</a></span>
                                    <span class="comment-num">_ <a href="#">2 Comments</a></span>
                                </div>
                                <h4 class="entry-title"><a class="title-link" asp-action="Index" asp-controller="Post">Minimal House: New Trends in Interior Design</a></h4>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>A faceting effect livens up and interrupts the cubism that sets the morphology of the West system apart from the cliches of modern design. Characterised by its suitability for use in a wide range of different...</p>
                           
                    </div>
                </article>
                <article class="post-box">
                    <div class="post-inner">
                        <div class="audio-box padding-box">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/139083759"></iframe>
                        </div>
                        <div class="entry-media">
                            
                        </div>
                        <div class="inner-post">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="posted-on">_ <a href="#">November 22, 2019</a></span>
                                    <span class="byline">_ <a class="url fn n" href="#">Jina Wood</a></span>
                                    <span class="comment-num">_ <a href="#">2 Comments</a></span>
                                </div>
                                <h4 class="entry-title"><a class="title-link" asp-action="Index" asp-controller="Post">We Understand Design Differently</a></h4>
                            </div>
                            <div class="entry-summary the-excerpt">
                                <p>A faceting effect livens up and interrupts the cubism that sets the morphology of the West system apart from the cliches of modern design. Characterised by its suitability for use in a wide range of different...</p>
                            
                    </div>
                </article>
                <ul class="page-pagination none-style">
                    <li><a class="prev page-numbers" href="#"><i class="ot-flaticon-left-arrow"></i></a></li>
                    <li><a class="page-numbers" href="#">1</a></li>
                    <li><span aria-current="page" class="page-numbers current">2</span></li>
                    <li><a class="page-numbers" href="#">3</a></li>
                    <li><a class="next page-numbers" href="#"><i class="ot-flaticon-right-arrow"></i></a></li>
                </ul>
            </div>
            <div class="widget-area primary-sidebar col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <aside id="author_widget-1" class="widget engitech_author-widget">
                    <div class="author-widget_wrapper text-center">
                        <div class="author-widget_image-wrapper">
                            <img class="author-widget_image" src="~/images/img/h4-img-3.jpg" alt="Kate Olson">
                        </div>
                        <div class="author-widget_info">
                            <h5 class="author-widget_title">Kate Olson</h5>
                            <p class="author-widget_text">She is the CEO. She's a big fan her cat Tux, & dinner parties.</p>
                            <div class="author-widget_social">
                                <a class="social-twitter" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="social-facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="social-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside id="search-2" class="widget widget_search">
                    <form role="search" method="get" id="search-form" class="search-form">
                        <input type="search" class="search-field" placeholder="Search…" value="" name="s">
                        <button type="submit" class="search-submit"><i class="ot-flaticon-search"></i></button>
                    </form>
                </aside>
               
                <aside class="widget widget_tag_cloud">
                    <h6 class="widget-title">Tags</h6>
                    <div class="tagcloud">
                        <a href="https://www.investopedia.com/terms/b/business.asp">business</a>
                        <a href="https://www.investopedia.com/terms/m/marketing.asp#:~:text=Marketing%20refers%20to%20the%20activities,%2C%20other%20businesses%2C%20and%20organizations.">marketing</a>

                        <a href="https://smm-seo.az/blog/92-sosial-media-marketinq-smm-nedir.html">SMM</a>

                        <a href="https://www.investopedia.com/terms/s/startup.asp">startup</a>
                    </div>
                </aside>
                <aside class="widget widget_media_image text-center">
                    <a href="contact.html"><img src="https://via.placeholder.com/270x330.png" alt=""></a>
                </aside>
            </div>
        </div>
    </div>
</div>
