<div id="content" class="site-content">
    <div class="page-header dtable text-center header-transparent pheader-service-detail1" style="background-image: url(./images/img/furniture1.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Design & Planning</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="our-services.html">Our Services</a></li>
                    <li class="active">Design & Planning</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="services-single">
    <div class="container">
        <div class="row">
            <div class="widget-area col-lg-3 col-md-12">
                <div class="widget widget_nav_menu"></div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="services-detail-content">
                    <div class="ot-heading">
                        <span>[ what we offer ]</span>
                        <h2 class="main-heading">
                            All Kinds of Buildings in Chematic or<br />
                            Working Design
                        </h2>
                    </div>
                    <p>
                        The interior design of your dream begins with a concept that
                        is reflected in the blueprints, project plans, in 3D
                        visualizations. It is possible to make any place more
                        interesting, attractive and functional, for this it is worth
                        to trust the real professionals and then the money will not be
                        spent in a vain.
                    </p>
                    <div class="simple-slide owl-theme owl-carousel">
                        <div class="item">
                            <img src="images/design/1.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="images/design/2.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="images/design/3.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="images/design/4.jpg" alt="" />
                        </div>
                    </div>
                    <p>
                        In design, we bring characteristics of the natural world into
                        built spaces, such as water, greenery, and natural light, or
                        elements like wood and stone. Encouraging the use of natural
                        systems and processes in design allows for exposure to nature,
                        and in turn, these design approaches improve health and
                        wellbeing. There are a number of possible benefits, including
                        reduced heart rate variability and pulse rates, decreased
                        blood pressure, and increased activity in our nervous systems,
                        to name a few.
                    </p>
                    <p>
                        Over time, our connections to the natural world diverged in
                        parallel with technological developments. Advances in the 19th
                        and 20th centuries fundamentally changed how people interact
                        with nature. Sheltered from the elements, we spent more and
                        more time indoors. Today, the majority of people spend almost
                        80-90% of their time indoors, moving between their homes and
                        workplaces. As interior designers embrace biophilia.
                    </p>
                    <img src="images/design/5.jpg"
                         width="1920"
                         class="detail-img"
                         alt="" />
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 mb-3 mb-lg-0 text-center">
                            <div class="circle-progress tbottom"
                                 data-color="#939393"
                                 data-height="2"
                                 data-size="165"
                                 data-processed="true">
                                <div class="inner-bar" data-percent="50">
                                    <span><span class="percent">50%</span></span>
                                </div>
                                <h4>3D modeling</h4>
                            </div>
                            <p>
                                Studio provides a full range<br />of 3D interior modeling
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-3 mb-lg-0 text-center">
                            <div class="circle-progress tbottom"
                                 data-color="#939393"
                                 data-height="2"
                                 data-size="165"
                                 data-processed="true">
                                <div class="inner-bar" data-percent="75">
                                    <span><span class="percent">75%</span></span>
                                </div>
                                <h4>ROOM MEASUREMENT</h4>
                            </div>
                            <p>Development of iperfect design<br />of the project</p>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="circle-progress tbottom"
                                 data-color="#939393"
                                 data-height="2"
                                 data-size="165"
                                 data-processed="true">
                                <div class="inner-bar" data-percent="85">
                                    <span><span class="percent">85%</span></span>
                                </div>
                                <h4>2d planning</h4>
                            </div>
                            <p>We provide 2D planning<br />for great visualization</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>