<div id="content" class="site-content">
    <div class="p-0">
        <div class="grid-lines grid-lines-horizontal z-index-1">
            <span class="g-line-horizontal line-bottom color-line-secondary"></span>
        </div>
        <div class="grid-lines grid-lines-vertical z-index-1">
            <span class="g-line-vertical line-left color-line-secondary"></span>
            <span class="g-line-vertical line-right color-line-secondary"></span>
        </div>
        <div id="rev_slider_one_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase" data-source="gallery">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_one" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                <ul>

                    <!-- SLIDE 1 -->
                    <!-- INLA BASLAMISA -->
                    <li data-index="rs-70" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://via.placeholder.com/1920x950.png" data-rotate="0" data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/img/glavnoye.jpg" width="1920" height="950" data-bgcolor='rgba(255,255,255,0)' style='' alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg" data-bgrepeat="no-repeat" data-bgparallax="off" data-no-retina>

                        <!-- LAYER 1  right image overlay dark-->
                        <!-- LAYER 3  Thin text title-->
                        <div class="tp-caption tp-resizeme tp-caption-big"
                             id="slide-70-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['56','46','34','0']"
                             data-y="['center','center','center','center']" data-voffset="['-64','-72','-65','-50']"
                             data-fontsize="['206',150','0','0']"
                             data-lineheight="['206','170','127','80']"
                             data-letterspacing="['104','85','63','39']"
                             data-fontweight="['900','900','900','900']"
                             data-color="['transparent','transparent','transparent','transparent']"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']">
                            Design
                        </div>

                        <!-- LAYER 4  Bold Title-->
                        <div class="tp-caption tp-resizeme tp-caption-main"
                             id="slide-70-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['2','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['-56','-63','-60','-65']"
                             data-fontsize="['93','72','55','40']"
                             data-lineheight="['83','70','51','55']"
                             data-color="['#fff','#fff','#fff','#fff']"
                             data-fontweight="['200','200','200','200']"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":900,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['left','left','left','left']">
                            New Level of Interior
                        </div>

                        <!-- LAYER 5  Paragraph-->
                        <div class="tp-caption tp-resizeme tp-desc"
                             id="slide-70-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['54','43','31','15']"
                             data-fontsize="['19','18','17','16']"
                             data-lineheight="['33','27','28','24']"
                             data-width="['818','630','500','417']"
                             data-weight="['500','500','500','500']"
                             data-color="['#fff','#fff','#fff','#fff']"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']">
                            We pride ourselves on being builders — creating architectural and creative solutions to help people realize their vision and make them a reality. Wanna work with us?
                        </div>

                        <!-- LAYER 6  Read More-->
                        <div class="tp-caption rev-btn"
                             id="slide-70-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['170','140','119','110']"
                             data-fontsize="['13','18','17','0']"
                             data-lineheight="['25','18','16','16']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-responsive_offset="on"
                             data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]">
                            <a asp-action="Index" asp-controller="Masonry" class="octf-btn octf-btn-primary btn-slider btn-large">View Projects</a>
                        </div>

                    </li>


                    <!-- SLIDE 2 -->
                    <li data-index="rs-71" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://via.placeholder.com/1920x950.png" data-rotate="0" data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/img/glavnoye.jpg" data-bgcolor='#ffffff' style='' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="off" data-no-retina>


                        <!-- LAYER 3  Thin text title-->
                        <div class="tp-caption tp-resizeme tp-caption-big"
                             id="slide-71-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['56','46','34','0']"
                             data-y="['center','center','center','center']" data-voffset="['-64','-72','-65','-50']"
                             data-fontsize="['206',150','0','0']"
                             data-lineheight="['206','170','127','80']"
                             data-letterspacing="['104','85','63','39']"
                             data-fontweight="['900','900','900','900']"
                             data-color="['transparent','transparent','transparent','transparent']"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']">
                            Quality
                        </div>

                        <!-- LAYER 4  Bold Title-->
                        <div class="tp-caption tp-resizeme tp-caption-main"
                             id="slide-71-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['2','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['-56','-63','-60','-65']"
                             data-fontsize="['93','72','55','40']"
                             data-lineheight="['83','70','51','55']"
                             data-color="['#fff','#fff','#fff','#fff']"
                             data-fontweight="['200','200','200','200']"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":900,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['left','left','left','left']">
                            High-end Interior Design
                        </div>

                        <!-- LAYER 5  Paragraph-->
                        <div class="tp-caption tp-resizeme tp-desc"
                             id="slide-71-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['54','43','31','15']"
                             data-fontsize="['19','18','17','16']"
                             data-lineheight="['33','27','28','24']"
                             data-width="['818','630','500','417']"
                             data-weight="['500','500','500','500']"
                             data-color="['#fff','#fff','#fff','#fff']"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']">
                            We pride ourselves on being builders — creating architectural and creative solutions to help people realize their vision and make them a reality. Wanna work with us?
                        </div>

                        <!-- LAYER 6  Read More-->
                        <div class="tp-caption rev-btn"
                             id="slide-71-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['170','140','119','110']"
                             data-fontsize="['13','18','17','0']"
                             data-lineheight="['25','18','16','16']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-responsive_offset="on"
                             data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]">
                            <a href="portfolio-masonry.html" class="octf-btn octf-btn-primary btn-slider btn-large">View Projects</a>
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-index="rs-72" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://via.placeholder.com/1920x950.png" data-rotate="0" data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/img/glavnoye.jpg" data-bgcolor='#ffffff' style='' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="off" data-no-retina>


                        <!-- LAYER 3  Thin text title-->
                        <div class="tp-caption tp-resizeme tp-caption-big"
                             id="slide-72-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['56','46','34','0']"
                             data-y="['center','center','center','center']" data-voffset="['-64','-72','-65','-50']"
                             data-fontsize="['206',150','0','0']"
                             data-lineheight="['206','170','127','80']"
                             data-letterspacing="['104','85','63','39']"
                             data-fontweight="['900','900','900','900']"
                             data-color="['transparent','transparent','transparent','transparent']"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']">
                            Studio
                        </div>

                        <!-- LAYER 4  Bold Title-->
                        <div class="tp-caption tp-resizeme tp-caption-main"
                             id="slide-72-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['2','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['-56','-63','-60','-65']"
                             data-fontsize="['93','72','55','40']"
                             data-lineheight="['83','70','51','55']"
                             data-color="['#fff','#fff','#fff','#fff']"
                             data-fontweight="['200','200','200','200']"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":900,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['left','left','left','left']">
                            Best Furniture and Decor
                        </div>

                        <!-- LAYER 5  Paragraph-->
                        <div class="tp-caption tp-resizeme tp-desc"
                             id="slide-72-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['54','43','31','15']"
                             data-fontsize="['19','18','17','16']"
                             data-lineheight="['33','27','28','24']"
                             data-width="['818','630','500','417']"
                             data-weight="['500','500','500','500']"
                             data-color="['#fff','#fff','#fff','#fff']"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']">
                            We pride ourselves on being builders — creating architectural and creative solutions to help people realize their vision and make them a reality. Wanna work with us?
                        </div>

                        <!-- LAYER 6  Read More-->
                        <div class="tp-caption rev-btn"
                             id="slide-72-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['center','center','center','center']" data-voffset="['170','140','119','110']"
                             data-fontsize="['13','18','17','0']"
                             data-lineheight="['25','18','16','16']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-responsive_offset="on"
                             data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]">
                            <a href="portfolio-masonry.html" class="octf-btn octf-btn-primary btn-slider btn-large">View Projects</a>
                        </div>
                    </li>


                </ul>
                <div class="tp-bannertimer"></div>

            </div>
        </div>
        <div class="banner-desc-1">
            <ul>
                <li><a href="https://www.pinterest.com/"><span>pinterest</span></a></li>
                <li>
                    <a href="https://x.com/?lang=en"><span>twitter</span></a>
                </li>
                <li><a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F"><span>facebook</span></a></li>
                <li><a href="https://www.instagram.com/"><span>instagram</span></a></li>
            </ul>
        </div>
    </div>
    <div class="client-1 bg-light-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 px-0">
                    <div class="cate-lines h-light">
                        <div class="cate-item">
                            <a>
                                <img src="~/images/img/office.jpg" width="720" height="420">
                            </a>
                            <div class="cate-item_content">
                                <a><h2>Office Spaces<span class="number-stroke">01</span></h2></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 px-0">
                    <div class="cate-lines h-light">
                        <div class="cate-item">
                            <a>
                                <img src="~/images/img/Public Spaces.jpg" width="720" height="420">
                            </a>
                            <div class="cate-item_content">
                                <a><h2>Public Spaces<span class="number-stroke">02</span></h2></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 px-0">
                    <div class="cate-lines s-dark">
                        <div class="cate-item">
                            <a>
                                <img src="~/images/img/residence.jpg" width="720" height="420">
                            </a>
                            <div class="cate-item_content">
                                <a><h2>Residential Spaces<span class="number-stroke">03</span></h2></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="services-1">
        <div class="grid-lines grid-lines-vertical">
            <span class="g-line-vertical line-left color-line-default"></span>
            <span class="g-line-vertical line-center color-line-default"></span>
            <span class="g-line-vertical line-right color-line-default"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center theratio-align-center">
                    <div class="ot-heading is-dots">
                        <span>[ OUR SERVICES ]</span>
                        <h2 class="main-heading">What Can We Offer</h2>
                    </div>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="icon-box icon-box--bg-img icon-box--icon-top icon-box--is-line-hover icon-bg-1 text-center">
                        <div class="icon-main"><img src="~/images/img/design&planning.jpg" alt="" width="2000" height="2000"></div>
                        <div class="content-box">
                            <h5>Design & Planning</h5>
                            <p>We will help you to get the result you dreamed of.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="icon-box icon-box--bg-img icon-box--icon-top icon-box--is-line-hover icon-bg-2 text-center">
                        <div class="icon-main"><img src="~/images/img/custom solutions.jpg" alt="" width="2000" height="2000"></div>
                        <div class="content-box">
                            <h5>Custom Solutions</h5>
                            <p>Individual, aesthetically stunning solutions for customers.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="icon-box icon-box--bg-img icon-box--icon-top icon-box--is-line-hover icon-bg-3 text-center">
                        <div class="icon-main"><img src="~/images/img/furniture.jpg" alt="" width="2000" height="2000"></div>
                        <div class="content-box">
                            <h5>Furniture & Decor</h5>
                            <p>We create and produce our product design lines.</p>
                        </div>

                    </div>
                </div>
                <div class="space-120"></div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
                    <div class="ot-counter">
                        <div>
                            <span>[</span>
                            <span class="num" data-to="180" data-time="2000">180</span>
                            <span>+]</span>
                        </div>
                        <h6>Current Clients</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
                    <div class="ot-counter">
                        <div>
                            <span>[</span>
                            <span class="num" data-to="10" data-time="2000">10</span>
                            <span>+]</span>
                        </div>
                        <h6>years of experience</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-sm-0">
                    <div class="ot-counter">
                        <div>
                            <span>[</span>
                            <span class="num" data-to="35" data-time="2000">35</span>
                            <span>+]</span>
                        </div>
                        <h6>awards winning</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="ot-counter">
                        <div>
                            <span>[</span>
                            <span class="num" data-to="5" data-time="2000">5</span>
                            <span>+]</span>
                        </div>
                        <h6>Offices Worldwide</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="grid-lines grid-lines-vertical">
            <span class="g-line-vertical line-left color-line-default"></span>
            <span class="g-line-vertical line-center color-line-default"></span>
            <span class="g-line-vertical line-right color-line-default"></span>
        </div>
        <div class="container">
            <div class="row pb-50">
                <div class="col-lg-8 col-md-12 mb-4 mb-lg-0">
                    <div class="ot-heading is-dots">
                        <span>[ our blog ]</span>
                        <h2 class="main-heading">Read Our Latest News</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-box masonry-post post-item">
                        <div class="post-inner">
                            <div class="entry-media post-cat-abs">
                                <a><img src="~/images/img/kitchen.jpg" alt="" width="570" height="474"></a>
                            </div>
                            <div class="inner-post">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <span class="posted-on"><a href="#">March 19, 2020</a></span>
                                        <span class="byline">
                                            <span class="author vcard"><a class="url fn n" href="#">Tom Black</a></span>
                                        </span>
                                    </div><!-- .entry-meta -->

                                    <h5 class="entry-title">
                                        <a class="title-link">Top 10 Tips for Your Kitchen Interior Design</a>
                                    </h5>
                                </div><!-- .entry-header -->

                                <div class="the-excerpt">
                                    A faceting effect livens up and...
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-box masonry-post post-item">
                        <div class="post-inner">
                            <div class="entry-media post-cat-abs">
                                <a><img src="~/images/img/sketch.jpg" width="570" height="474" alt=""></a>
                            </div>
                            <div class="inner-post">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <span class="posted-on"><a href="#">March 19, 2020</a></span>
                                        <span class="byline">
                                            <span class="author vcard"><a class="url fn n" href="#">Tom Black</a></span>
                                        </span>
                                    </div><!-- .entry-meta -->

                                    <h5 class="entry-title">
                                        <a class="title-link">The Golden Ratio Rules for Best 2D Sketch</a>
                                    </h5>
                                </div><!-- .entry-header -->

                                <div class="the-excerpt">
                                    A faceting effect livens up and...
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-box masonry-post post-item">
                        <div class="post-inner">
                            <div class="entry-media post-cat-abs">
                                <a><img src="~/images/img/colors.jpg" width="570" height="474" alt=""></a>
                            </div>
                            <div class="inner-post">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <span class="posted-on"><a href="#">March 19, 2020</a></span>
                                        <span class="byline">
                                            <span class="author vcard"><a class="url fn n" href="#">Tom Black</a></span>
                                        </span>
                                    </div><!-- .entry-meta -->

                                    <h5 class="entry-title">
                                        <a class="title-link">Use Pastel Colors & Natural Materials</a>
                                    </h5>
                                </div><!-- .entry-header -->

                                <div class="the-excerpt">
                                    A faceting effect livens up and...
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
